body {
    display: block;
    margin: 0 auto;
    padding: 25px;
    width: 95%;

    div.card {
        margin-bottom: 12.5px;
    }
}

#projectsButtonAddProject {
    cursor: pointer;
}

#tasksCard {

    &TasksDisplay {
        margin-bottom: 12.5px;

        .task {
            align-items: center;
            display: flex;
            padding: 7.5px 0;
        
            &-checkbox {
                border-radius: 50%;
                border: 1px solid rgb(175, 175, 175);
                cursor: pointer;
                height: 15px;
                margin-right: 10px;
                width: 15px;
            }
        
            &-checkbox:hover {
                background-color: rgb(240, 240, 240);
            }

            &-buttons {
                display: flex;
                margin-left: 10px;

                button {
                    font-size: 0.65em;
                    margin-right: 5px;
                }
            }
        }

        .taskDone {
            text-decoration: line-through;
        }
    }
}

#footer {
    a {
        color: rgb(0, 0, 0);
        text-decoration: none;
    }
    
    a:hover {
        text-decoration: underline;
    }
}